/* Set padding to keep content from hitting the edges */
.body-content {
    
    padding-left: 15px;
    padding-right: 15px;
    height:100%;
    /*background-image: url('../images/backgroundhome.png');*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mySlides {
    display: none;
    width:500px;
}
